<%- include('header')%>

  <div class="result">
    <% if(error){ %>
      <%= error %>
        <% }else{ %>


          <%= quantidade %> USD na cotação <%= cotacao %> é igual a: R$ <%= conversao%>
                <% } %>
  </div>

  <%- include('footer')%>